.browse-container {
  display: flex;
  margin: 0 auto;
  width: 75%;
  margin-top: 30px;
}

.browse-left-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.browse-right-wrapper {
  flex: 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.all-btn {
  cursor: pointer;
}
