.add-product-content {
  border-radius: 4px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  margin-top: 40px;
}
.product-form-wrapper {
  display: flex;
  flex-direction: row;
}
.product-form-left {
  flex: 1;
}
.product-form-right {
  flex: 1;
}
.add-btn {
  background-color: #c62828;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: white;
  min-width: 21%;
}

.photos-div {
  margin-top: 40px;
}

.image-input-field {
  border-radius: 4px;
  border: solid 1px hsl(0, 0%, 80%);
  padding: 12px;
  width: 90%;
}
.image-input-field::file-selector-button {
  font-weight: bold;
  color: #c62828;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
  cursor: pointer;
}

@media (min-width: 268px) and (max-width: 767px) {
  .product-form-wrapper {
    display: flex;
    flex-direction: column;
  }
}
