@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  background-color: rgb(18, 18, 18);
  color: white;
  margin: 0;
  font-family: Poppins, Arial;
  font-size: 14px;
}
.App {
}
.link {
  color: white;
  text-decoration: none;
}
