.header-container {
  padding: 16px 36px;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
}
.brandName {
  font-size: 22px;
}
.logo {
  width: 55px;
  margin-bottom: -6px;
}
.cart-circle {
  border-bottom: solid 1px #c62828;
}
