.home-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.home-subtitle {
  font-size: 18px;
  margin-bottom: 12px;
}

.ads-cards {
  font-weight: 500;
  display: flex;
  gap: 12px;
  border-radius: 4px;
  overflow: hidden;
  outline: none;
  margin-bottom: 40px;
}
.ad-image-big-item {
  width: 282px;
  height: 500px;
  object-fit: cover;
  flex: 5 1;
  border-radius: 14px;
  cursor: pointer;
}
.card-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
}
.ads-card-list {
  flex: 1;
  flex-direction: column;
  display: flex;
}
.ad-image-list-item {
  width: 50px;
  height: 60px;
  border-radius: 14px;
  margin: 0 12px;
}
.ads-game-name {
  width: 100px;
}

.home-grid {
  display: grid;
  grid-gap: 16px;
}

@media (min-width: 268px) and (max-width: 767px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .ads-cards {
    flex-direction: column;
  }
  .ads-card-list {
    flex-direction: row;
  }
  .ad-image-big-item {
    width: 100%;
  }
  .card-list-item {
    text-align: center;
    display: block;
  }
}

@media (min-width: 768px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .home-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .home-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .home-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
